body {
  background: #eaeaea;
  font-family: "Fira Sans", sans-serif;
}
.container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.thumbnail-img {
  margin-top: 40px;
  margin-right: 40px;
}
::placeholder {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}

input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightslategray;
  border-radius: 4px;
}

a:hover img {
  transform: rotate(-45deg);
}
